<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MRCM.My.MySettings.MRCMConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MRCM.accdb"
            providerName="System.Data.OleDb" />
        <add name="MRCM.My.MySettings.MRCM1ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MRCM1.accdb"
            providerName="System.Data.OleDb" />
        <add name="MRCM.My.MySettings.MRCM1ConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Naea\source\repos\MRCM\MRCM1.accdb"
            providerName="System.Data.OleDb" />
        <add name="MRCM.My.MySettings.MRCM1_0ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MRCM1.0.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>